*

!/.config/
/.config/**
!/.config/alacritty/
!/.config/alacritty/**
!/.config/fcitx5/
!/.config/fcitx5/config
!/.config/fcitx5/profile
!/.config/fontconfig
!/.config/fontconfig/fonts.conf
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/i3/
!/.config/i3/**
/.config/i3/display.sh
!/.config/polybar/
!/.config/polybar/**
!/.config/qt5ct
!/.config/qt5ct/**

!/.local/
/.local/**
!/.local/share/
/.local/share/**
!/.local/share/fonts/
!.local/share/fonts/**

!/.wallpaper/
!/.wallpaper/**
!/.bashrc
!/.fehbg
!/.xprofile

!/scripts/
!/scripts/**

!/.gitignore
!/link_list.txt
!/README.md