/*

!/.config
/.config/**
!/.config/alacritty
!/.config/alacritty/**
!/.config/i3
!/.config/i3/**
/.config/i3/display.sh
!/.config/polybar
!/.config/polybar/**
!/.wallpaper
!/.wallpaper/**
!/.bashrc
!/.fehbg
!/.xprofile

!/scripts
!/scripts/**

!/.gitignore
!/link_list.txt
!/README.md